$cssCore: false;
$cssHelpers: true;

// Variables para los colores

// Colores generales
$negro:      	#000000;
$negro2:        #333333;
$blanco:     	#ffffff;
$text:       	#595959;
$plomo : 		#EAEAEA; 

// Colores de la paleta 
$first-color: #EC7000;

$font-title: "Itau";


// Añadir librerias base para el funcionamiento y diseño del sitio web
@import 'base/reset';
@import 'base/fonts';

// Importando Framework
@import 'edgrid/ed-grid';

// Archivos dev
@import 'dev/globals';
@import 'dev/index';